body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(240, 240, 240);
}

.sidebar {
  height: 45px;
  width: 100%;
  top: 0;
  color: #dddddd;
  padding: 5px;
  background: #212121;
  position: fixed;
}

@media screen and (min-width: 1400px) {
  .sidebar {
    height: 100%;
    width: 200px;
    top: 0;
    color: #dddddd;
    padding: 90px 30px 0px 30px;
  }
}
.sidebar .title {
  float: left;
  font-size: 18px;
  margin: 10px 5%;
}

.sidebar .time p.left {
  margin: 0;
  float: left;
  color: #bbbbbb;
}

.sidebar .time p {
  margin: 0;
  text-align: right;
  color: #bbbbbb;
}

.sidebar p {
  line-height: 1.5em;
  font-size: 14px;
  word-wrap: break-word;
}

.sidebar p.last {
  height: 50px;
  position: absolute;
  width: 200px;
  bottom: 50px;
  color: #bbbbbb;
  list-style-type: none;
  padding-bottom: 5.5em;
}

blockquote {
  display: inline-block;
  border-left: 2px solid #ddd;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}

code {
  font-family: Consolas, "Courier New", monospace;
  background-color: #eee;
  padding: 3px;
}

hr {
  margin: 20px 0px;
}

.btn {
  margin: 0px 5px;
  max-width: 740px;
  background-color: salmon;
  outline: none;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font: 1em/1 sans-serif;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.btn:hover,
.btn:focus {
  background-color: lightsalmon;
}
.btn:active {
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.save-btn {
  width: 100%;
  margin-left: 0px;
  background-color: #40b866;
  margin: 15px 0px;
}

.save-btn-mobile {
  width: 100px;
  float: right;
  background-color: #40b866;
  margin: 5px 5%;
}

.save-btn:hover,
.save-btn-mobile:hover {
  background-color: #89d3a0;
}

.save-btn:focus,
.save-btn-mobile:focus {
  background-color: #40b866;
}

.editor {
  color: rgb(17, 17, 17);
  max-width: 740px;
  min-height: 200px;
  background-color: white;
  box-shadow: rgba(118, 143, 255, 0.1) 0px 16px 24px 0px;
  padding: 40px;
  margin: 80px auto 45px;
  border-radius: 4.5px;
}
