body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(240, 240, 240);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  color: rgb(17, 17, 17);
  max-width: 740px;
  background-color: white;
  box-shadow: rgba(118, 143, 255, 0.1) 0px 16px 24px 0px;
  padding: 40px;
  margin: 65px auto 45px;
  border-radius: 4.5px;
}
